body {
  background: #352f5b;
}

/* central column of 400 pixels in width in the middle of
our browser */
.container {
  max-width: 400px;
}

/* get the inputs of type text when it's out of focus and also when it's in 
focus- when we actually click it that is in focus. */

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background: #423a6f;
}

.delete {
  cursor: pointer;
}
