body {
  background: #352f5b;
}

/* central column of 400 pixels in width in the middle of
our browser */
.container {
    max-width: 400px;
}


/* get the inputs of type text when it's out of focus and also when it's in 
focus- when we actually click it that is in focus. */

input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

.todos li {
    background: #423a6f;
}

.delete {
    cursor: pointer;
}

. Then we're using these two selectors right here to  So we're grabbing
that and we're colorizing them. So the text is white and the background is this
transparent black. Again, we're using this alpha channel Rgba so we can use this
0.2 for the transparency. And then we have a max width of 400 pixels and no
border. So then we have the to dos the lies inside this thing right here.
Remember, this has a class of to dos. So all the tags inside there were styling
and giving those a background of this purple color. Then the delete icon, which
is the trash can, we're saying give a cursor of pointer so that when we hover
over them we get that little hand. So if we save it and preview now it looks
like this, it looks almost complete, but obviously nothing works yet. And if we
try to add something over here, we can't do So now we need to turn our attention
to the JavaScript. Now we have this template sorted and hook up all of this
functionality. Play 77. Project Preview and Setup 3min Play 78. HTML & CSS
Template 7min Play 79. Adding Todos 9min Play 80. Deleting Todos 5min Play 81.
Searching & Filtering Todos 18min Teach the world online Create an online video
course, reach students across the globe, and earn money Top companies choose
Udemy Business to build in-demand career skills.
NasdaqVolkswagenBoxNetAppEventbrite Udemy Business Teach on Udemy Get the app
About us Contact us Careers Blog Help and Support Affiliate Investors Terms
Privacy policy Sitemap Accessibility statement © 2024 Udemy, Inc.

